.color-primary {
  color: #2c3c64;
}
.color-primary-light {
  color: #545c6f;
}
.color-secondary {
  color: #DC4940;
}
.color-tertiary {
  color: #F8D155;
}
svg .color-primary {
  fill: #2c3c64;
}
svg .color-primary-light {
  fill: #545c6f;
}
svg .color-secondary {
  fill: #DC4940;
}
svg .color-tertiary {
  fill: #F8D155;
}
