.color-primary {
  color: #333F5D;
}
.color-primary-light {
  color: #333F5D;
}
.color-secondary {
  color: #2D6EB1;
}
.color-tertiary {
  color: #F8D155;
}
svg .color-primary {
  fill: #333F5D;
}
svg .color-primary-light {
  fill: #333F5D;
}
svg .color-secondary {
  fill: #2D6EB1;
}
svg .color-tertiary {
  fill: #F8D155;
}
