@keyframes slideDown {
  0% {
    transform: translateY(-64px);
  }
  100% {
    transform: translateY(0px);
  }
}
svg.logo .tertiary-group {
  animation-name: slideDown;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
svg.logo .secondary-group {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
svg.logo .primary-group {
  animation-name: slideDown;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
