html,
body {
  margin: 0;
  height: 100%;
}
body {
  font-family: 'Asap', sans-serif;
  font-size: 12px;
}
.logo {
  font-size: 72px;
  font-weight: 700;
  font-style: italic;
}
.logo:before {
  content: 'B';
  color: white;
  -webkit-text-stroke: 1px black;
}
