@color-primary--bp: #333f5d;
@color-secondary--bp: #dc4940; // #E8343A;
@color-tertiary--bp: #f8d155; // #F4BE42;
@color-quaternary--bp: #e79385;
@color-quinary--bp: #2d6eb1;
@color-senary--bp: #c0d1e0;
@color-text--bp: @color-primary--bp;
@color-background--bp: white; //#d0caca;

@color-scheme: "bp";

@color-primary-scheme: "color-primary--@{color-scheme}";
@color-secondary-scheme: "color-secondary--@{color-scheme}";
@color-tertiary-scheme: "color-tertiary--@{color-scheme}";
@color-text-scheme: "color-text--@{color-scheme}";
@color-background-scheme: "color-background--@{color-scheme}";

@color-primary: saturate(@@color-primary-scheme, 10%);
@color-primary--light: desaturate(lighten(@@color-primary-scheme, 10%), 15%);
@color-secondary: @@color-secondary-scheme;
@color-tertiary: @@color-tertiary-scheme;
@color-text: @@color-text-scheme;
@color-background: @@color-background-scheme;

@color-light-gray: #efefef;

.color-primary {
  color: @color-primary;
}

.color-primary-light {
  color: @color-primary--light;
}

.color-secondary {
  color: @color-secondary;
}

.color-tertiary {
  color: @color-tertiary;
}

svg {
  .color-primary {
    fill: @color-primary;
  }

  .color-primary-light {
    fill: @color-primary--light;
  }

  .color-secondary {
    fill: @color-secondary;
  }

  .color-tertiary {
    fill: @color-tertiary;
  }
}
