---
import Layout from "../layouts/layout.astro";
import ContactCard from "../components/contact-card.astro";
import ContentSection from "../components/content-section.astro";
import ExperienceSection from "../components/experience-section.astro";
import EmailIcon from "../icons/email-icon.astro";
import LinkedInIcon from "../icons/linkedin-icon.astro";
import GitHubIcon from "../icons/github-icon.astro";
---

<Layout title="Brooks Parrish">
  <main class="min-h-screen flex flex-col">
    <div class="relative" aria-hidden="true">
      <div class="h-16 sm:h-24 md:h-32 lg:h-40"></div>
    </div>

    <div class="relative">
      <ContentSection className="pt-8 pb-4 px-8">
        <h1 class="text-xl font-bold">Brooks Parrish</h1>
        <h2 class="text-sm text-gray-600">Software Engineer</h2>
      </ContentSection>
    </div>

    <div class="relative">
      <ContentSection className="pt-4 pb-8 px-8">
        <p class="text-gray-600">
          Experienced with building full-stack production systems from the
          ground up and leading engineering teams. Expertise is on the front
          end, but becoming more dangerous in back end and infrastructure all
          the time.
        </p>
      </ContentSection>
    </div>

    <div class="relative">
      <ContentSection className="py-8 px-8">
        <h2 class="text-xl font-bold">Get in touch</h2>
        <div class="mt-4 grid grid-cols-2 gap-4 sm:gap-8 sm:grid-cols-3">
          <ContactCard
            title="LinkedIn"
            href="https://www.linkedin.com/in/brooks-parrish/"
          >
            <LinkedInIcon slot="icon" className="w-4 h-4" />
          </ContactCard>
          <ContactCard title="Email" href="mailto:parrish.brooks@gmail.com">
            <EmailIcon slot="icon" className="w-4 h-4" />
          </ContactCard>
          <ContactCard title="GitHub" href="https://www.github.com/brooksp">
            <GitHubIcon slot="icon" className="w-4 h-4" />
          </ContactCard>
        </div>
      </ContentSection>
    </div>

    <ExperienceSection />
  </main>

  <div class="relative" aria-hidden="true">
    <div class="h-40"></div>
  </div>
</Layout>

<style>
  .dotted-border {
    background: linear-gradient(
      90deg,
      rgb(243 244 246),
      rgb(229, 231, 235) 25%,
      transparent 0,
      transparent
    );
    background-size: 4px 1px;
  }
</style>
