---
import ContentSection from "./content-section.astro";
---

<div class="relative">
  <ContentSection className="py-8 px-8">
    <h2 class="text-xl font-bold">Experience</h2>
    <ol class="list-none mt-4">
      <li class="mt-2">
        <div>
          <h3 class="font-semibold">Greenlight</h3>
          <ol
            class="relative border-s border-gray-200 dark:border-gray-700 ml-2 mt-2"
          >
            <li class="mb-2 ms-4">
              <div
                class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1 -start-1 border border-white dark:border-gray-900 dark:bg-gray-700"
              >
              </div>
              <div class="flex justify-between items-center font-medium">
                <h4 class="text-gray-900 text-sm h-min">
                  Staff Software Engineer
                </h4>
                <div class="flex-1 h-[1px] mb-1 dotted-border self-end mx-1">
                </div>
                <span class="text-gray-900 text-sm h-min"
                  >Jan 2024 – Present</span
                >
              </div>
            </li>
            <li class="mb-2 ms-4">
              <div
                class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1 -start-1 border border-white dark:border-gray-900 dark:bg-gray-700"
              >
              </div>
              <div class="flex justify-between items-center">
                <h4 class="text-gray-600 text-sm h-min">
                  Senior Software Engineer
                </h4>
                <div class="flex-1 h-[1px] mb-1 dotted-border self-end mx-1">
                </div>
                <span class="text-gray-600 text-sm h-min"
                  >Jun 2021 – Dec 2023</span
                >
              </div>
            </li>
            <li class="ms-4">
              <div
                class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1 -start-1 border border-white dark:border-gray-900 dark:bg-gray-700"
              >
              </div>
              <div class="flex justify-between items-center">
                <h4 class="text-gray-600 text-sm h-min">
                  Software Engineer II
                </h4>
                <div class="flex-1 h-[1px] mb-1 dotted-border self-end mx-1">
                </div>
                <span class="text-gray-600 text-sm h-min"
                  >Apr 2020 – Jun 2021</span
                >
              </div>
            </li>
          </ol>
        </div>
      </li>
      <li class="mt-2">
        <div>
          <h3 class="font-semibold">Gather</h3>
          <ol
            class="relative border-s border-gray-200 dark:border-gray-700 ml-2 mt-2"
          >
            <li class="mb-2 ms-4">
              <div
                class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1 -start-1 border border-white dark:border-gray-900 dark:bg-gray-700"
              >
              </div>
              <div class="flex justify-between items-center">
                <h4 class="text-gray-600 text-sm h-min">
                  Software Engineer II
                </h4>
                <div class="flex-1 h-[1px] mb-1 dotted-border self-end mx-1">
                </div>
                <span class="text-gray-600 text-sm h-min"
                  >Oct 2019 – Apr 2020</span
                >
              </div>
            </li>
            <li class="mb-2 ms-4">
              <div
                class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1 -start-1 border border-white dark:border-gray-900 dark:bg-gray-700"
              >
              </div>
              <div class="flex justify-between items-center">
                <h4 class="text-gray-600 text-sm h-min">Software Engineer</h4>
                <div class="flex-1 h-[1px] mb-1 dotted-border self-end mx-1">
                </div>
                <span class="text-gray-600 text-sm h-min"
                  >Jun 2018 – Oct 2019</span
                >
              </div>
            </li>
          </ol>
        </div>
      </li>
      <li class="mt-2">
        <div>
          <h3 class="font-semibold">Promethean</h3>
          <ol
            class="relative border-s border-gray-200 dark:border-gray-700 ml-2 mt-2"
          >
            <li class="mb-2 ms-4">
              <div
                class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1 -start-1 border border-white dark:border-gray-900 dark:bg-gray-700"
              >
              </div>
              <div class="flex justify-between items-center">
                <h4 class="text-gray-600 text-sm h-min">Software Engineer</h4>
                <div class="flex-1 h-[1px] mb-1 dotted-border self-end mx-1">
                </div>
                <span class="text-gray-600 text-sm h-min"
                  >Sep 2017 – Jun 2018</span
                >
              </div>
            </li>
            <li class="mb-2 ms-4">
              <div
                class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1 -start-1 border border-white dark:border-gray-900 dark:bg-gray-700"
              >
              </div>
              <div class="flex justify-between items-center">
                <h4 class="text-gray-600 text-sm h-min">
                  Junior Software Engineer
                </h4>
                <div class="flex-1 h-[1px] mb-1 dotted-border self-end mx-1">
                </div>
                <span class="text-gray-600 text-sm h-min"
                  >Jul 2015 – Sep 2017</span
                >
              </div>
            </li>
          </ol>
        </div>
      </li>
    </ol>
  </ContentSection>
</div>
